.BaseHud
{
    width: 100%;
    height: 100%;
}

.hidden
{
    opacity: 0;
    visibility: collapse;
}

#Interest.Flipped
{
    horizontal-align: left;
}

#Interest
{
    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 215px;
    z-index: 15;
    flow-children: down;
}

#InterestBar
{
    width: 210px;
    height: 36px;
    background-image: url("file://{resources}/images/custom_game/interest/interest_gray.png");
    background-size: 100%;
    margin-bottom: 10px;
}

#InterestBarGold
{
    width: 100%;
    height: 100%;
    background-image: url("file://{resources}/images/custom_game/interest/interest_gold.png");
    background-size: 100%;
}

#InterestBarDisabled
{
    width: 100%;
    height: 100%;
    background-image: url("file://{resources}/images/custom_game/interest/interest_disabled.png");
    background-size: 100%;
}

#InterestBarOverlay
{
    width: 100%;
    height: 100%;
    background-image: url("file://{resources}/images/custom_game/interest/interest_overlay.png");
    background-size: 100%;
}

#InterestTooltip
{
    width: 210px;
    height: 110px;
    background-color: #111111;
    padding: 8px;
    flow-children: down;
}

.hide
{
    visibility: collapse;
}

#InterestCoin
{
    margin-top: 3px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

#InterestLock
{
    vertical-align: center;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    z-index: 99;
}

#InterestLabel
{
    margin-top: 4px;
    font-size: 23px;
    font-weight: bold;
    margin-left: 15px;
    color: #FF9900;
    text-shadow: 0px 0px 3px 4.0 #000;
    width: 100%;
    text-align: center;
}

#TooltipLabel
{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 5px 5px #000;
    text-align: center;
    margin-top: 10px;
}

#TooltipAmount
{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FF9900;
    text-shadow: 0px 0px 5px 5.0 #000;
}