.CustomHudRoot
{
    width: 100%;
    height: 100%;
}

#TopBarScoreboard
{
    margin-top: 1px;
    horizontal-align: center;
    vertical-align: top;
    width: 1495px;
}

#ScoreboardContainer
{
    horizontal-align: left;
    vertical-align: top;
    width: 100%;
}

#MultiteamScoreboard
{
    horizontal-align: left;
    vertical-align: top;
    height: 80px;
    width: 100%;
}

#LeftSideTeams
{
    padding-right: 60px;
    width: 50%;
    height: 100%;
}

#LeftSideInner
{
    horizontal-align: right;
    height: 100%;
    flow-children: right;
}

#RightSideTeams
{
    horizontal-align: right;
    padding-left: 60px;
    width: 50%;
    height: 100%;
    flow-children: right;
}

.ScoreboardTeamWrapper
{
    width: 65px;
    height: 100%;
}

.ScoreboardTeamWrapper #_dynamic_team_2 
{
    position: 50% 0px 0px;
}

#ScoreboardTeam
{
    padding-left: 2px;
    padding-right: 2px;
    flow-children: right;
    width: 100%;
    height: 100%;
}

.ScoreboardTeamWrapper.local_player_team #ScoreboardTeam
{
}

#LogoAndScore
{
    height: 100%;
    width: 64px;
}

#TeamScore
{
    horizontal-align: center;
    vertical-align: top;
    margin-top: 3px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-bottom: -2px;
    text-overflow: clip;
}

#TeamPadding
{
    width: fill-parent-flow(1);
}

#TeamStatus
{
    width: 100%;
    height: 100%;
}

#PlayersContainer
{
    flow-children: right;
    width: 100%;
    height: 100%;
}

#TeamColorBar
{
}

#TeamOverlayBar
{
    width: 100%;
    height: 48px;
}

.ScoreboardTeamWrapper.local_player_team #TeamOverlayBar
{
}

#LocalTeamOverlay
{
    width: 100%;
    height: 43px;
}

.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay
{
    box-shadow: -3px -3px 12px 6px #FFFFFF88;
}

.ScoreboardPlayer
{
}

.FlowDown
{
    flow-children: down;
}

.ScoreboardPlayerWrapper
{
    width: 100%;
    height: 100%;
}

.ScoreboardPlayerWrapper.is_local_player
{
}

.PlayerPortraitWrapper
{
    flow-children: down;
}

#PlayerColorBar
{
    height: 4px;
    width: 100%;
    background-color: #999999;
    border-bottom: 1px solid #000000;
}

.PlayerColorBarMask
{
    margin-top: -4px;
    height: 4px;
    width: 100%;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000096 ), color-stop( 0.25, #00000000 ), color-stop( 0.75, #00000000 ), to( #00000096 ) );
}

#PlayerBG
{
    width: 64px;
    height: 36px;
    background-color: black;
}

#HeroIcon
{
    margin-top: -36px;
    margin-left: 36px;
    width: 28px;
    height: 16px;
    background-color: black;
}

.player_dead #HeroIcon
{
    wash-color: #66666688;
    saturation: 0;
}

.player_dead #RespawnTimer
{
    
    margin-top: 20px;
    margin-left: 8px;
    width: 90%;
    height: 100%;
    background-image: url("file://{resources}/images/custom_game/wave_info/rip.png");
    background-size: 75% 90%;
    background-repeat: no-repeat;
}

.player_connection_disconnected #HeroIcon
{
    wash-color: #666666;
}

.player_connection_abandoned #HeroIcon
{
    wash-color: #FF0000;
    saturation: 0;
}

DOTAAvatarImage
{
    margin-top: -16px;
    width: 36px;
    height: 36px;
    background-color: black;
}

#PlayerWave
{
    color: white;
    margin-top: -20px;
    margin-left: 36px;
    width: 28px;
    text-align: center;
}

#DisconnectionIndicator
{
    opacity: 0;
    width: 100%;
    height: 18px;
    vertical-align: top;
    margin-top: 38px;
}

.player_connection_abandoned #DisconnectionIndicator,
.player_connection_failed #DisconnectionIndicator,
.player_connection_disconnected #DisconnectionIndicator
{
    opacity: 1;
}

#ScoreRow
{
    width: 100%;
}

#RespawnIndicator
{
    margin-top: 26px;
    width: 42px;
    height: 49px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/custom_game/deathtimer_background_psd.vtex");
    horizontal-align: center;
    transform: translateY(-30px);
    opacity: 0;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#HealthIndicatorContainer
{
//  margin-top: 54px;
    margin-top: 40px;
    width: 100%;
    background-color: black;
    height: 11px;
    horizontal-align: center;
    border-radius: 2px;
    box-shadow: -1px -1px 2px 2px black;
    visibility: collapse;
}

.local_player_is_spectator #HealthIndicatorContainer
{
    visibility: visible;
}

.ScoreboardPlayerWrapper.player_dead #HealthIndicatorContainer
{
    opacity: 0;
}

.ScoreboardPlayerWrapper.is_player #HealthIndicatorContainer
{
    visibility: visible;
}

#HealthIndicatorHealth
{
    background-color: white;
    height: 100%;
    width: 100%;
    horizontal-align: left;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #529a52 ), color-stop( 0.5, #0d570d ), color-stop( 0.75, #186510 ), to( #084e08 ) );
}

#_dynamic_team_2 #HealthIndicatorHealth
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #529a52 ), color-stop( 0.5, #0d570d ), color-stop( 0.75, #186510 ), to( #084e08 ) );
}

#HealthIndicatorHealth.low_health
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #b06652 ), color-stop( 0.5, #88270d ), color-stop( 0.75, #852c1b ), to( #631609 ) );
}

#ScoreTooltipContainer
{
    margin-top: 60px;
    width: 100%;
    background-color: black;
    height: 30px;
    horizontal-align: center;
    border-radius: 2px;
    visibility: collapse;
}

.ScoreboardPlayerWrapper.is_player #ScoreTooltipContainer
{
    visibility: visible;
}

.ScoreboardPlayerWrapper.is_player #ScoreTooltipContainer.hide
{
    visibility: collapse;
}

#ScoreTooltip
{
    margin-top: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
}

#ArrowUpContainer
{
    margin-top: 53px;
    width: 100%;
    visibility: collapse;
}

.ScoreboardPlayerWrapper.is_player #ArrowUpContainer
{
    visibility: visible;
}

.ScoreboardPlayerWrapper.is_player #ArrowUpContainer.hide
{
    visibility: collapse;
}

#ArrowUp
{
    horizontal-align: center;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-bottom: 8px solid black;
}

.PlayerPortraitWrapper:hover #ArrowUpContainer
{
    visibility: visible;
}

#RespawnTimer
{
    color: #e5460e;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 4px;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
}

.ScoreboardPlayerWrapper.player_dead #RespawnIndicator
{
    opacity: 1;
    transform: translateY(0px);
}

#UltimateIndicatorContainer
{
    horizontal-align: center;
    width: 20px;
    height: 20px;
    margin-top: 32px;
}

.player_ultimate_not_leveled #UltimateIndicatorContainer
{
    visibility: collapse;
}

.not_local_player_team #UltimateIndicatorContainer
{
    visibility: collapse;
}

.UltimateIndicatorShared
{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.is_local_player #LocalPlayerIndicator
{
    visibility: visible;
}


#FlyoutScoreboardToggle
{
    background-color: black;
    height: 30px;
    width: 180px;
    margin-left: 50px;
    margin-top: 5px;
}

.ToggleLabel
{
    margin-left: 10px;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 4px;
    vertical-align: center;
    horizontal-align: center;
    color: #4a9820;
}

.ToggleLabel:hover
{
    opacity: 2;
    font-size: 19px;
}