@define BACKGROUND_COLOR: #000000;

.EndScreenRoot
{
	width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), color-stop( 0.12, #000000ff ), color-stop( 0.5, #00000022 ), to( #00000000 ) );
}

////////////////

#CreditContainer
{
    width: 800px;
    height: 100%;
    margin-top: 40px;
    flow-children: down;
}

#CreditTitle
{
    width: 800px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000;
    color: #CCC;
    font-family: Radiance;
}

#Credits
{
    font-size: 35px;
    margin-left: 100px;
    color: white;
    flow-children: down;
}

.DevRow
{
    flow-children: right;
    height: 50px;
}

.DevAvatar
{
    width: 150px;
    height: 100px;
}

#DevImage
{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 34px;
    box-shadow: fill #000000 -3px -3px 3px 6px;
}

#DevName Label
{
    font-size: 20px;
    margin: 10px 0px 0px 45px;
    text-shadow: 1px 1px 3px 3.0 #000;
}

#DevCredits
{
    flow-children: down;
    text-align: center;
    horizontal-align: center;
}

#DevTitle
{
    font-size: 30px;
    width: 800px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #CCC;
    font-family: Radiance;
    text-shadow: 1px 1px 3px 3.0 #000;
}

#SupportCredits
{
    width: 800px;
    margin-left: 60px;
    flow-children: down;
}

#SpecialThanks
{
    margin-top: 20px;
    font-size: 28px;
    horizontal-align: center;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #CCC;
    font-family: Radiance;
    text-shadow: 1px 1px 3px 3.0 #000;
}

#Avatar
{
    height: 32px;
    width: 32px;
}

#AvatarImage
{
    height: 32px;
    width: 32px;
    background-color: black;
}

#Supporters
{
    flow-children: right-wrap;
    margin-left: 50px;
}

.PlayerCredit
{
    flow-children: right-wrap;
}

#UserNameCredit
{
	width: 180px;
	margin-left: 5px;
}

#UserNameCredit Label
{
	color: white;
	width: 200px;
    font-size: 26px;
	font-family: Radiance;
	text-shadow: 1px 1px 3px 2.0 #000;
}

.GoldBorder
{
    width: 36px;
    height: 36px;
    background-image: url("file://{resources}/images/custom_game/rewards/border_gold.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.EpicBorder
{   
    width: 36px;
    height: 36px;
    background-image: url("file://{resources}/images/custom_game/rewards/border_epic.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.HiddenBorder
{
    opacity: 0;
}

#LeaderboardLink
{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    color: #CCC;
    text-shadow: 1px 1px 3px 2.0 #000;
    horizontal-align: right;
}

#Contact
{
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    vertical-align: bottom;
    flow-children: right;
}

#Web
{
    horizontal-align: center;
    flow-children: right;
}

#WebLogo
{
    width: 60px;
    height: 60px;
    background-image: url("file://{resources}/images/custom_game/loading_screen/web.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow: fill #000000 -3px -3px 3px 6px;
}

#Twitter
{
    flow-children: right;
    margin-left: 100px;
}

#TwitterLogo
{   
    width: 60px;
    height: 50px;
    background-image: url("file://{resources}/images/custom_game/loading_screen/tweet.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ContactText
{
    color: white;
    font-size: 45px;
    margin-left: 10px;
    text-shadow: 1px 1px 3px 3.0 #000;
}

////////////////

#VictoryRow
{
	flow-children: right;
    horizontal-align: right;
	margin-right: 8px;
	margin-bottom: 16px;

	transition-property: opacity, transform;
    transition-duration: 1s;
	opacity: 0;
	transform: scaleX(0) scaleY(0) translatey(-50px);
}

.Legend
{
	width: 100%;
    background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-bottom: -1px;
}

#RadiantHeader
{
	border-bottom: 1px solid #4a9820;
}

#DireHeader
{
	border-bottom: 1px solid #a52500;
}

.LegendPanel .TeamLabel
{
	margin-left: 4px;
	letter-spacing: 3px;
	font-size: 24px;
	text-transform: uppercase;
}

#RadiantLabel
{
	color: #4a9820;
}

#DireLabel
{
	color: #a52500;
}

.endgame #VictoryRow
{
	opacity: 1;
	transform: scaleX(1) scaleY(1);
}

#WinningTeamLogo
{
	vertical-align: center;
	margin-right: 16px;
}

#EndScreenVictory
{
    font-size: 64px;
    color: #cccccc;
	vertical-align: center;

	text-transform: uppercase;
	margin-bottom: -16px;
}

.EndScreenWindow
{
    margin-top: 50px;
    margin-right: 200px;
    flow-children: down;
    horizontal-align: right;
	flow-children: down;
}

.AspectRatio4x3 .EndScreenWindow, .AspectRatio5x4 .EndScreenWindow
{
    margin-right: 50px;
}

.EndScreenVictoryRow
{
	width: 100%;
}

#CloseButton
{
	background-color: #121618;
	border: 3px solid #4d5051;
    margin-top: 10px;
    horizontal-align: right;
	vertical-align: bottom;
	width: 200px;
}

#CloseButton:hover
{
	border: 3px solid white;
}

#CloseButton Label
{
    horizontal-align: center;
	vertical-align: center;
	color: #6f6f6f;
	text-transform: uppercase;
}

#CloseButton:hover Label
{
	color: white;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatey( 0px );
}

#TeamsContainer
{
	horizontal-align: right;
    flow-children: down;
	background-color: #00000088;
}

.FlyoutTeam
{
    transition-property: opacity, transform;
    transition-duration: 0.5s;
	opacity: 0;
	transform: translatey(-50px);
}

.FlyoutTeam.local_player_team
{
}

.FlyoutTeam.team_endgame
{
	opacity: 1;
	transform: translatey(0px);
}

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.FlyoutTeamData
{
    flow-children: right;
}

.TeamInfo
{
	margin-top: 1px;
	height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
	width: 100%;
	height: 100%;
}

.FlyoutPlayer
{ 
    flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
    flow-children: down;
}

.local_player_team #PlayersContainer
{
    box-shadow: fill #ffffff40 -3px -3px 3px 6px;
}

.TeamId
{
    flow-children: right;
}

#TeamLogo
{
	vertical-align: top;
	horizontal-align: right;
    height: 30px;
    width: 30px;
	margin-top: 2px;
	margin-right: 2px;
}

#TeamScorePanel
{
	margin-top: 1px;
	margin-left: 226px;
	width: 79px;
	height: 100%;
    background-color: BACKGROUND_COLOR;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 32px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: -2px;
}

#PlayerGoldAmount, #Networth
{
	color: #ffd300;
}

.one_player #TeamScore
{
	font-size: 30px;
}

.local_player_team #TeamScore
{
	color: white;
}

.Legend
{
	flow-children: right;
	horizontal-align: right;
}

.Legend Label
{
	text-transform: uppercase;
	font-size: 12px;
	color: #90999b;
}

.PlayerRow
{
	height: 32px;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 32px;
}

#HeroIcon
{
    vertical-align: middle;
	border: 1px solid black;
}

#ScoreContainer,
#LivesContainer,
#WaveContainer,
#TowersContainer,
#ElementsContainer,
#DifficultyContainer,
#LevelContainer,
#DeathsContainer,
#AssistsContainer
{
	height: 100%;
}

#KillsContainer
{
	height: 100%;
	flow-children: right;
}

.ScoreboardPanel
{
    background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-left: 1px;
	height: 100%;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
	vertical-align: bottom;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	margin-top: -2px;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Level
{
	vertical-align: middle;
	horizontal-align: center;
	color: #898b8c;
}

#Score,
#Lives,
#Wave,
#Towers,
#Difficulty,
#Deaths,
#Assists,
#PlayerGoldAmount,
#Networth
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 20px;
	margin-top: 3px;
}

#PlayerGoldAmount
{
}

#PlayerName
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: -4px;
	margin-top: 0px;
	padding-left: 4px;
	color: #cccccc;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	padding-left: 4px;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
	margin-top: 0px;
	color: #999999;
	vertical-align: bottom;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	height: 100%;
}

#PlayerItemsContainer
{
	flow-children: right;
}

#PlayerItemsContainer Image
{
	margin: 1px;
	width: 41px;
	height: 30px;
	background-color: BACKGROUND_COLOR;
}

.is_local_player Label
{
	color: white;
}

.player_dead #Lives
{
	color: #E99D89;
}	

.ScoreCol_TeamInfoAndHero
{
	width: 260px;
}

.ScoreCol_TeamInfo
{
	width: 80px;
}
.ScoreCol_PlayerDetails
{
	width: 150px;
}

.ScoreCol_Score
{
	width: 80px;
	text-align: center;
}

.ScoreCol_Hero
{
	width: 53px;
}

.ScoreCol_Level
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Wave,
.ScoreCol_Lives,
.ScoreCol_Towers,
.ScoreCol_Deaths,
.ScoreCol_Assists
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Kills
{
	width: 80px;
	text-align: center;
}

#KillsEnd
{
	vertical-align: center;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
}

.Kills_Standard
{
	width: 100%;
}

.Kills_Frog
{
	width: fit-children;
	horizontal-align: left;
	margin-left: 15px;
}

.ScoreCol_Difficulty
{
	width: 80px;
	text-align: center;
}

.ScoreCol_Items
{
	width: 258px;
	text-align: center;
}

.ScoreCol_Gold
{
	width: 80px;
	text-align: center;
}

.Normal
{
	height: 22px;
	max-width: 22px;
	background-color: #00cc00;
}

.Hard
{
	height: 22px;
	max-width: 22px;
	background-color: #e6b800;
}

.VeryHard
{
	height: 22px;
	max-width: 25px;
	background-color: #ff3333;
}

.Insane
{
	height: 22px;
	max-width: 22px;
	background-color: #000;
}

#Difficulty
{
	horizontal-align: center;
	color: white;
	text-shadow: none;
	font-weight: bold;
}

.is_local_player #Score,
.is_local_player #Lives,
.is_local_player #Wave,
.is_local_player #Towers,
.is_local_player #Difficulty,
.is_local_player #Kills,
.is_local_player #Assists,
.is_local_player #Level,
.is_local_player #HeroName,
.is_local_player #HasRandomed
{
	color: white;
}

.ScoreCol_Elements
{
	width: 170px;
	text-align: center;
}

.ElementImage
{
	height: 22px;
	width: 22px;
	vertical-align: center;
}

#ElemSubContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#HasRandomed
{
	height: 22px;
	width: 18px;
	font-size: 20px;
	background-color: #000;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

.ElemImageAndLevel
{
	width: 22px;
	margin: 0px 1px 0px 2px;
}

#water_level,
#fire_level,
#nature_level,
#earth_level,
#light_level,
#dark_level
{
	color: #FFF;
	font-size: 15px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-top: 13px;
	margin-right: -2px;
	text-shadow: 2px 2px 2px black;
}

.hide
{
    opacity: 0;
    visibility: collapse;
}

#OSfrog
{
    width: 26px;
    height: 26px;
    background-image: url("file://{images}/spellicons/osfrog.png");
    background-size: 100%;
    background-repeat: no-repeat;
    horizontal-align: center;
    vertical-align: center;
    box-shadow: #000 -1px -1px 3px 2px;
    margin-top: 2px;
}