@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.FlyoutScoreboardRoot
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 150px;
	margin-left: 20px;
    flow-children: down;
    padding: 0px;
	background-color: #666666CC;
	
    transform: translatex( -700px );
    transition-property: transform;
    transition-duration: 0.1s;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatey( 0px );
}

#TeamsContainer
{
    flow-children: down;
    horizontal-align: center;
}

.Legend
{
	width: 100%;
    background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-bottom: -1px;
}

#RadiantHeader
{
	border-bottom: 1px solid #4a9820;
}

#DireHeader
{
	border-bottom: 1px solid #a52500;
}

.LegendPanel .TeamLabel
{
	margin-top: 3px;
	margin-left: 4px;
	letter-spacing: 3px;
	font-size: 18px;
	text-transform: uppercase;
}

#RadiantLabel
{
	color: #4a9820;
}

#DireLabel
{
	color: #a52500;
}


.FlyoutTeam
{
}

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.local_player_team.FlyoutTeam
{
	z-index: 99;
}

.FlyoutTeamData
{
    flow-children: right;
}

.TeamInfo
{
	margin-top: 1px;
	height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
	width: 100%;
	height: 100%;
}

#TeamColorOverlay
{
	background-color: gradient( linear, 80% 0%, 100% 0%, from( #00000000 ), to( #000000FF ) );
	width: 100%;
	height: 100%;
}

.FlyoutPlayer
{ 
    flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
    flow-children: down;
}

.local_player_team #PlayersContainer
{
    box-shadow: fill #ffffff40 -3px -3px 3px 6px;
}

.TeamId
{
    flow-children: right;
}

#TeamLogo
{
	vertical-align: top;
	horizontal-align: right;
    height: 30px;
    width: 30px;
	margin-top: 2px;
	margin-right: 2px;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 36px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: -3px;
	text-overflow: clip;
}

#TeamScorePanel
{
	margin-top: 1px;
	margin-left: 219px;
	width: 100px;
	height: 100%;
    background-color: BACKGROUND_COLOR;
}

.Legend
{
	flow-children: right;
}

.Legend Label
{
	vertical-align: bottom;
	text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
	font-size: 12px;
	color: white;
}

.PlayerRow
{
	height: 32px;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 32px;
}

#HeroIcon
{
    vertical-align: middle;
	border: 1px solid black;
}

.player_dead #HeroIcon
{
	wash-color: #66666688;
	saturation: 0;
}

#Avatar
{
	height: 32px;
	width: 32px;
}

#AvatarImage
{
	height: 32px;
	width: 32px;
	background-color: black;
}

#ScoreContainer,
#LivesContainer,
#WaveContainer,
#TowersContainer,
#ElementsContainer,
#DifficultyContainer,
#LevelContainer,
#DeathsContainer,
#NetworthContainer,
#AssistsContainer
{
	height: 100%;
}

#KillsContainer
{
	height: 100%;
	flow-children: right;
}

.ScoreboardPanel
{
    background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-left: 1px;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
}

.is_local_player .ScoreboardPanel
{
    background-color: #666666;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Level
{
	vertical-align: center;
	horizontal-align: center;
	color: #898b8c;
}

#Score,
#Lives,
#Wave,
#Towers,
#Difficulty,
#Deaths,
#Assists
{
	vertical-align: center;
	font-size: 18px;
	text-align: center;
	margin-top: 3px;
	width: 100%;
}

#Networth
{
	color: #ffd300;
	vertical-align: center;
	font-size: 18px;
	text-align: center;
	margin-top: 3px;
	width: 100%;
}

#PlayerName
{
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: -4px;
	margin-top: 0px;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	color: #898b8c;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
	margin-top: -1px;
}

.is_local_player #HeroNameAndDescription
{
	color: white;
}

#MuteButton
{
	margin-right: 0px;
	margin-top: 0px;
	horizontal-align: right;
	vertical-align: top;
	width: 18px;
	height: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/custom_game/button_audio_on_psd.vtex");
	opacity: 0.8;
}

.is_local_player #MuteButton
{
	visibility: collapse;
}

#MuteButton:hover
{
	opacity: 1;
}

.player_muted #MuteButton
{
    background-image: url("s2r://panorama/images/custom_game/button_audio_off_psd.vtex");
}

#TeammateGoldAmount , #PlayerGoldAmount
{
	margin-right: -1px;
	margin-bottom: -2px;
	vertical-align: bottom;
	horizontal-align: right;
	color: #ffd300;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
}

#TeammateLumberAmount
{
	margin-left: 8px;
	margin-bottom: -2px;
	vertical-align: bottom;
	horizontal-align: left;
	color: lightgreen;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
}

#TeammateEssenceAmount
{
	margin-left: 24px;
	margin-bottom: -2px;
	vertical-align: bottom;
	horizontal-align: left;
	color: white;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	flow-children: down;
	padding-left: 8px;
}

.is_local_player #Score,
.is_local_player #Lives,
.is_local_player #Wave,
.is_local_player #Towers,
.is_local_player #Difficulty,
.is_local_player #Kills,
.is_local_player #Assists,
.is_local_player #Level,
.is_local_player #HeroName,
.is_local_player #HasRandomed
{
	color: white;
}

#Deaths
{
	color: #E99D89;
}

.player_dead #Lives
{
	color: #E99D89;
}	

.ScoreCol_TeamInfoAndHero
{
	width: 154px;
}

.ScoreCol_TeamInfo
{
	width: 0px;
}

.ScoreCol_PlayerDetails
{
	width: 120px;
}

.ScoreCol_Hero
{
	width: 53px;
	height: 100%;
}

.ScoreCol_Score, .ScoreCol_Networth
{
	width: 100px;
	text-align: center;
}

.ScoreCol_Elements
{
	width: 190px;
	text-align: center;
}

.ScoreCol_Wave,
.ScoreCol_Lives,
.ScoreCol_Towers,
.ScoreCol_Deaths,
.ScoreCol_Assists
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Kills
{
	width: 60px;
	text-align: center;
}

#Kills
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 18px;
	text-align: center;
}

.Kills_Standard
{
	width: 100%;
	margin-top: 3px;
}

.Kills_Frog
{
	width: fit-children;
	horizontal-align: left;
	margin-left: 5px;
	margin-top: 3px;
}

.ScoreCol_Difficulty
{
	width: 60px;
	text-align: center;
}

.Normal
{
	height: 22px;
	max-width: 22px;
	background-color: #00cc00;
}

.Hard
{
	height: 22px;
	max-width: 22px;
	background-color: #e6b800;
}

.VeryHard
{
	height: 22px;
	max-width: 25px;
	background-color: #ff3333;
}

.Insane
{
	height: 22px;
	max-width: 22px;
	background-color: #000;
}

#Difficulty
{
	horizontal-align: center;
	color: white;
	text-shadow: none;
	font-weight: bold;
}

.ElementImage
{
	height: 22px;
	width: 22px;
	vertical-align: center;
}

#ElemSubContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#HasRandomed
{
	height: 22px;
	width: 18px;
	font-size: 20px;
	background-color: #000;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

.ElemImageAndLevel
{
	width: 22px;
	margin: 0px 1px 0px 2px;
}

#water_level,
#fire_level,
#nature_level,
#earth_level,
#light_level,
#dark_level,
#pure_level
{
	color: #FFF;
	font-size: 15px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-top: 13px;
	margin-right: -2px;
	text-shadow: 2px 2px 2px black;
}

.hide
{
    opacity: 0;
    visibility: collapse;
}

#OSfrog
{
    width: 22px;
    height: 22px;
    background-image: url("file://{images}/spellicons/osfrog.png");
    background-size: 100%;
    background-repeat: no-repeat;
    horizontal-align: center;
    vertical-align: center;
    box-shadow: #000 -1px -1px 3px 2px;
    border-radius: 22px;
}




.GoldBorder
{
    width: 34px;
    height: 34px;
    background-image: url("file://{resources}/images/custom_game/rewards/border_gold.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.EpicBorder
{   
    width: 34px;
    height: 34px;
    background-image: url("file://{resources}/images/custom_game/rewards/border_epic.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.HiddenBorder
{
    opacity: 0;
}