.BaseHud
{
    width: 100%;
    height: 100%;
}

.TopNotifications
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.BottomNotifications
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.NotificationLine
{
    margin-top: 15px;
    flow-children: right;
    horizontal-align: center;
    vertical-align: middle;
    animation-name: scalein;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

#TopNotifications
{
    flow-children: down;
    horizontal-align: center;
    width:100%;
    opacity: 1;
    margin-top: 64px;
    visibility: visible;
    border: 0px solid blue;
}

#BottomNotifications
{
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
    width: 100%;
    opacity: 1;
    margin-bottom: 375px;
    visibility: visible;
    border: 0px solid blue;
}

.NotificationMessage
{
    color: white;
    vertical-align: center;
    horizontal-align: center;
    font-family: Tahoma;
    text-shadow: 1px 1px 4px 3.0 #121212;
    font-size: 30px;
    text-align: center;
}

.HeroImage
{
    vertical-align: center;
    horizontal-align: center;
}

@keyframes 'scalein' {
  from {
    opacity:0;
    transform: scaleX(.75) scaleY(.75);
  }

  to {
    opacity:1;
    transform: scaleX(1) scaleY(1);
  }
}

.WorldBox
{
    z-index: -1;
    background-color: #000000CC;
    color: #CCCCCC;
    border: 2px solid #484A48;
    box-shadow: #000 -4px -4px 3px 8px;
    padding: 2px 4px 2px 4px;
    text-align: center;
}


// Custom
.WaveBreakTime
{
    color: #FFF;
    font-family: Radiance;
    text-shadow: 1px 1px 4px 3.0 #121212;
    font-weight: bold;
    font-size: 60px;
    margin-top: -5px;
}

.WaveMessage
{
    color: #FFF;
    font-family: Radiance;
    text-shadow: 1px 1px 4px 3.0 #121212;
    font-size: 60px;
    font-weight: bold;
}

.BossWaveMessage
{
    color: #FFF;
    font-family: Radiance;
    text-shadow: 1px 1px 4px 3.0 #121212;
    font-size: 60px;
    font-weight: bold;
    margin: -5px 10px 0 10px;
}

.IcefrogFaceNoSpace
{
    width: 60px;
    height: 60px;
    margin-top: -2px;
}

.SandboxEnable
{
    color: #FFF;
    font-family: Radiance;
    text-shadow: 0px 0px 5px 3.0 #121212;
    font-weight: bold;
    font-size: 60px;
}

.SandboxEnableWait
{
    color: #FFF;
    font-family: Radiance;
    text-shadow: 1px 1px 3px 3.0 #121212;
    font-size: 40px;
}

.NewHighscore
{
    color: #FFF;
    font-family: Radiance;
    text-shadow: 1px 1px 3px 3.0 #121212;
    font-size: 50px;
    font-weight: bold;
    margin-top: -10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}