.BaseHud
{
    width: 100%;
    height: 100%;
}

#ResourceUnderlay
{
    background-color: #000000AA;
    vertical-align: bottom;
    height: 21%;
    width: 210px;
}

#ResourceElements
{
    margin-right: 10px;
    margin-bottom: 103px;
    height: 64px;
    width: 200px;
    vertical-align: bottom;
}

.AspectRatio4x3 #ResourceElements, .AspectRatio5x4 #ResourceElements
{
    margin-bottom: 100px;
    margin-right: 22px;
    height: 64px;
    width: 160px;
}

.AspectRatio21x9 #ResourceElements
{
    margin-bottom: 110px;
    margin-right: 8px;
    height: 64px;
    width: 200px;
}

#ResourceElements .element
{
    width: 50px;
    height: 32px;
}

.AspectRatio4x3 #ResourceElements .element, .AspectRatio5x4 #ResourceElements .element
{
    width: 44px;
    height: 28px;
}

#ElementWater
{
    horizontal-align: center;
    background-image: url("file://{resources}/images/custom_game/resources/water.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#ElementFire
{
    horizontal-align: center;
    position: 0px 32px 0px;
    background-image: url("file://{resources}/images/custom_game/resources/fire.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#ElementNature
{
    margin-right: 6px;
    horizontal-align: right;
    background-image: url("file://{resources}/images/custom_game/resources/nature.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#ElementEarth
{
    horizontal-align: right;
    margin-right: 6px;
    position: 0px 32px 0px;
    background-image: url("file://{resources}/images/custom_game/resources/earth.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#ElementLight
{
    margin-left: 4px;
    background-image: url("file://{resources}/images/custom_game/resources/light.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#ElementDark
{
    margin-left: 4px;    
    position: 0px 32px 0px;
    background-image: url("file://{resources}/images/custom_game/resources/dark.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.AspectRatio4x3 #ElementWater, .AspectRatio5x4 #ElementWater,
.AspectRatio4x3 #ElementFire, .AspectRatio5x4 #ElementFire,
.AspectRatio4x3 #ElementNature, .AspectRatio5x4 #ElementNature,
.AspectRatio4x3 #ElementEarth, .AspectRatio5x4 #ElementEarth,
.AspectRatio4x3 #ElementLight, .AspectRatio5x4 #ElementLight,
.AspectRatio4x3 #ElementDark, .AspectRatio5x4 #ElementDark
{
    background-size: 26px 26px;
    background-position: left 0px top 3px;
}

.no_element_levels
{
    saturation: 0.7;
}

.value
{
    margin-top: 3px;
    text-align: right;
    width: 100%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px 3.0 #000;
}

#LumberDisplay
{
    margin-top: 95px;
    margin-left: 170px;
    color: #009900;
    font-weight: bold;
    text-shadow: 1px 1px 3px 4.0 #000;

    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#LumberDisplay.newResource
{
    animation-name: NewResource;
}

#ResourceLumber
{
    width: 65px;
    height: 40px;

    vertical-align: bottom;

    margin-bottom: 167px;
    margin-right: 36px;
}

.AspectRatio4x3 #ResourceLumber, .AspectRatio5x4 #ResourceLumber
{
    margin-bottom: 170px;
    margin-right: 34px;
}

.AspectRatio21x9 #ResourceLumber
{
    margin-bottom: 170px;
    margin-right: 32px;
}

#LumberText
{
    color: green;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;

    margin-left: 44px;
    margin-top: 3px;
}

#LumberIcon 
{   
    width:36px; 
    height:26px; 
    background-image: url("file://{images}/custom_game/resources/lumber_icon.png"); 
    background-size: 100% 100%;
}

//--- Gold panel

#ResourceGold
{
    width: 100px;
    height: 40px;

    vertical-align: bottom;

    margin-bottom: 167px;
    margin-right: 107px;
    margin-left: 107px;
}

#GoldText
{
    width: 105px;
    color: #fea500;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 0px 3px 3.0 #000000;

    margin-top: 3px;
    margin-left: 28px;
    margin-right: 8px;
}

#GoldIcon
{   
    width: 36px; 
    height: 36px; 
    background-image: url("file://{images}/custom_game/resources/gold_icon.png"); 
    background-size: 100% 100%;
    margin-top: -5px;
}

.AspectRatio4x3 #ResourceGold, .AspectRatio5x4 #ResourceGold
{
    margin-bottom: 170px;
    margin-right: 100px;
}

.AspectRatio21x9 #ResourceGold
{
    margin-bottom: 170px;
    margin-right: 104px;
}

//---------

#ResourceEssence
{
    width: 36px;
    height: 40px;

    vertical-align: bottom;

    margin-bottom: 167px;
}

.AspectRatio4x3 #ResourceEssence, .AspectRatio5x4 #ResourceEssence
{
    margin-bottom: 170px;
    margin-right: 5px;
}

.AspectRatio21x9 #ResourceEssence
{
    margin-bottom: 170px;
    margin-right: 6px;
}

#PureEssenceText
{
    color: DeepSkyBlue;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;

    width: 100%;

    margin-right: 6px;
    margin-top: 3px;
}

#PureEssenceIcon 
{   
    margin-top: -3px;
    width:36px; 
    height:32px; 
    background-image: url("file://{resources}/images/custom_game/resources/mango.png");
    background-size: 100% 100%;
}

#ResourceScore
{
    width: 130px;
    height: 30px;

    vertical-align: bottom;

    margin-bottom: 60px;
    margin-right: 78px;
}

.AspectRatio4x3 #ResourceScore, .AspectRatio5x4 #ResourceScore
{
    margin-bottom: 50px;
    margin-right: 78px;
}

.AspectRatio21x9 #ResourceScore
{
    margin-bottom: 70px;
    margin-right: 70px;
}

#ScoreLabel 
{   
    color: white;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: left;
    text-shadow: 0px 0px 3px 3.0 #000000;

    width: 100%;

    margin-left: 2px;
    margin-top: 3px;
}


#ScoreText
{
    color: white;
    font-size: 18px;
    font-family: Radiance;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 0px 3px 3.0 #000000;

    width: 100%;

    margin-right: 6px;
    margin-top: 5px;
}

@keyframes 'NewResource'
{
    0%
    {
        transform: translateX( -4px ) rotateZ( -5deg );
    }

    50%
    {
        transform: translateX( 4px ) rotateZ( 5deg );
    }
    
    100%
    {
        transform: translateX( -4px ) rotateZ( -5deg );
    }
}


.Flipped
{
    horizontal-align: left;
}

.AlignRight
{
    horizontal-align: right;
}

#MinimapOverlay
{
    width: 244px;
    height: 244px;
    vertical-align: bottom;
    margin-left: 0px;
}

#Version
{
    color: white;
    font-size: 25px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
    vertical-align: bottom;
    margin-bottom: 8px;

    width: 100%;
    height: 30px;
}

#Version.Coop 
{
    color: white;
    font-size: 22px;
    font-family: Radiance;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 0px 2px 3.0 #000000;
    vertical-align: bottom;
    margin-bottom: 8px;
}

#Coop
{
    color: white;
    font-size: 22px;
    font-family: Radiance;
    font-weight: bold;
    text-align: left;
    text-shadow: 0px 0px 2px 3.0 #000000;
    vertical-align: bottom;
    margin-bottom: 8px;
}

#elementTD
{
    width: 200px;
    height: 50px;

    horizontal-align: center;
    background-size: 200px 50px;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/loading_screen/elementTD.png");

    margin-left: 24px;
}

#elementTDGlow
{
    width: 200px;
    height: 50px;

    horizontal-align: center;
    background-size: 200px 50px;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/loading_screen/elementTD_glow.png"); 
   
    animation-name: seq_glow;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    margin-left: 24px;
}

@keyframes 'seq_glow'
{
    0%
    {
        opacity: 0.1;
    }

    100%
    {
        opacity: 0.7;
    }
}


#SelectSummoner:active
{
    position: 1px 2px 0px;
}

#SelectSummoner:hover
{
    opacity: 2;
    font-size: 19px;
}

#SelectSummoner
{
    background-color: black;
    height: 30px;
    width: 280px;
    margin-left: 100px;
    margin-top: 12px;
    margin-right: 145px;
    margin-bottom: 155px;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: bottom;
    text-align: center;
    padding-top: 4px;
    horizontal-align: center;
    color: white;

    animation-name: elem_glow2;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes 'elem_glow2'
{
    0%
    {
        box-shadow: #FFD70040 0px 0px 10px 0px;
    }

    100%
    {
        box-shadow: #FFD70040 0px 0px 30px 0px;
    }
}