.CustomHudRoot
{
    width: 100%;
    height: 100%;
}

.hide
{
    opacity: 0;
    visibility: collapse;
}

.DemoHud
{
    flow-children: right;
    height: 100%;
    width: 100%;
}

.ControlPanel
{
    transform: translateX( 0% ) translateY( -100px );
    vertical-align: top;
    margin-top: 320px;
    horizontal-align: left;
    padding: 4px;
    padding-left: 0px;

    transition-property: background-color, transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.ControlPanelContainer
{
    flow-children: right;
    horizontal-align: left;
    height: 480px;
    width: 350px;
    font-size: 16;
    background-color: #181818dd;
    border: 2px solid #222222;
    box-shadow: #000000aa -4px -4px 8px 8px;
}

#ControlPanelSlideThumb
{
    width: 32px;
    height: 96px;
    transform: translateX( 0px );
    background-color: #181818cc;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: #00000055 -4px -4px 8px 8px;
    vertical-align: middle;
}

.RightArrowButtonIcon
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    wash-color: #91aba6;

    transform: translateX( -9px );
    
    transition-property: transform, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

#ControlPanelSlideThumb:hover
{
    background-color: #383838cc;
}

#ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
    transform: translateX( -12px );
    wash-color: white;
}

.ControlPanel.Minimized .RightArrowButtonIcon
{
    transform: rotateZ(180deg) translateX( -6px );
}

.ControlPanel.Minimized #ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
    transform: translateX( 3px ) rotateZ(180deg);
    wash-color: white;
}

.ControlPanel.Minimized
{
    transform: translateX( -350px ) translateY( -100px );
}


.QuitPausePanel
{
    flow-children: right;
    transform: translateX( 0px ) translateY( 0px );
    vertical-align: top;
    horizontal-align: right;
    height: 45px;
    width: 100%;
    background-color: #181818;
    border: 2px solid #222222;  
}

.QuitPausePanel .DemoButton
{
    height: 100%;
    width: 48%;
}

.Category .QuitPausePanel
{

}

.Category .QuitPausePanel .DemoButton Label
{
    margin-top: 5px;
    margin-left: 5px;

}

.QuitPausePanel .QuitButton
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #441111), to( #662222 ) );
    height: 100%;
    width: 48%;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;

    border-style: solid;
    border-width: 2px;  

    border-top-color: #661111;
    border-left-color: #591111;
    border-bottom-color: #441111;
    border-right-color: #502222;

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.Category .QuitPausePanel .QuitButton Label
{
    margin-top: 5px;
    margin-left: 5px;
    color: #000000;
    font-size: 16;
    vertical-align: middle;
}

.QuitPausePanel .QuitButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #441111), to( #aa2222 ) );
}

.QuitPausePanel.QuitButton:active
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #aa8888 ), to( #ffaaaa ) );
    pre-transform-scale2d: 1.02;
}

.QuitPausePanel .QuitButton:selected
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #777777 ), to( #999999 ) );
}

.ControlPanelContainer Label
{
    flow-children: down;

    horizontal-align: left;
    font-size: 24;  
    color: #444444;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.ControlPanelContainer .Category Label
{
    horizontal-align: left;
    margin-left: 0%;
    margin-top: 2px;
    font-size: 20;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    min-width: 100%;
}

.ControlPanelContainer #Maximized
{
    flow-children: down;
    visibility:visible;
}

.ControlPanelContainer #Maximized #MinimizeButton
{
    flow-children: down;
    transform: translateX( 0% ) translateY( 0% );
    vertical-align: middle;
    horizontal-align: left;
    width: 100%;
    background-color: #181818;
    border: 2px solid #111111;
    visibility:visible;
}

#MinimizeButton
{
    horizontal-align: right;
}

.Category
{
    flow-children: down;
    border-style: solid;
    border-color: #00000022;
    border-width: 0%;
    //border-radius: 5px;

    box-shadow: fill #00000011 -4px -4px 8px 9px;

    padding: 5px;

    background-color: #11111166;
}

.Row
{
    flow-children: right;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    width: 100%;
}

.Category .Row Label
{
    horizontal-align: right;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18;
    color: #888888;
}

.Row #DemoButton
{
    
}

.Row TextEntry
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
    border: 1px solid baseBorder;
    
    color: lightgrey;
    font-size: 16;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;

    height: 20px;
    width: 40px;

    padding-top: 5px;
    padding-left: 5px;
}

#PlaceholderText
{
    opacity: 1.0;

    transition-property: opacity;
    transition-duration: 0.1s;

    vertical-align: middle;
    margin-bottom: -2px;

    color: #444444;
    font-size: 20;
}

.Row TextEntry:focus
{
    padding-left: 10px;
    padding-top: 10px;
}

.Row TextEntry:focus #PlaceholderText, TextEntry.HasInput #PlaceholderText
{
    opacity: 0.0;
}

.DemoButton
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333), to( #444444 ) );

    height: 36px;
    width: 160px;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;

    border-style: solid;
    border-width: 1px;

    border-top-color: #444444;
    border-left-color: #494949;
    border-bottom-color: #111111;
    border-right-color: #404040;

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.Category .Row .DemoButton#FieldButton
{
    height: 40px;
    width: 160px;
}

.Category .DemoButton Label
{
    margin-top: 5px;
/*  padding: 6% 12% 6% 3%;*/
    color: #cccccc;
    font-size: 16;
    font-weight: thin;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: 0px;
}

.Category .DemoButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #555555 ) );
}

.Category .DemoButton:hover Label
{
    //color: #cccccc;
}

.Category .DemoButton:active
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #888888 ), to( #aaaaaa ) );
    pre-transform-scale2d: 1.02;
}

.Category .DemoButton:active Label
{
    //color: #eeeeee;
}

.Category .DemoButton:selected
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #777777 ), to( #999999 ) );
}

.Category ToggleButton.DemoButton:active Label
{
    //color: #eeeeee;
}

.Category ToggleButton:selected Label
{
    //color: #cccccc;
}



//------------ barebones attachment things

.ButtonRow
{
  flow-children:right;
  align:center bottom;
  margin-top:10px;
}

.LineEntry
{
  align:center center;
  vertical-align: center;
  width:95%;
  height:30px;
  margin-bottom: 10px;
  font-size: 14;
  font-weight: normal;
}

.LineLabel
{
  align:center top;
  font-weight: bold;
  width:95%;
}

.ThreeEntry
{
  flow-children:right;
  align:center top;
  margin: 5px 0px 5px 0px;
  width: 100%;
}

.LabelEntry
{
  flow-children:down;
  margin:5px 5px 5px 20px;  
}

.LabelEntry Label
{
  align: center top;
  font-weight: bold;
}

.LabelEntry TextEntry Label
{
  align: left center;
}

.NumEntry
{
  width:100px;
}

.PlusMinus
{
  flow-children:down;
}

.PlusMinus Button
{
  width:18px;
  height:18px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #555555;
}

.PlusMinus Button Label
{
  margin-top: -3px;
  margin-left: 3px;
}

.SButton
{
  width: 100px;
  align: center top;
  margin-bottom: 0px;
  padding: 2px;
  margin:5px 20px 5px 20px;
  border: 1px solid #555555;
}

.CosmeticRow
{
  flow-children:right;
  width:98%;
  height:20px;
  margin-bottom: 1px;
  border: 1px solid #555555;
  align: center top;
}

.CosmeticLabel
{
  font-size: 12;
  font-weight: normal;
  align: left center;
  overflow: squish squish;
  color:white;
}
 
.CosmeticButton
{
  width: 50px;
  align: right center;
  margin-bottom: 0px;
  border: 1px solid #555555;
  height: 20px;
  padding: 1px;
}

.CosmeticButton Label
{
  margin-top: 0px;
  font-size: 12;
  font-weight: bold;
  align: center center;
  color: #ff3333;
}

.CameraButton
{
  width: 50px;
  align: center bottom;
  padding: 2px;
  margin:5px 10px 15px 10px;
  border: 1px solid #555555;
}

.CameraButton Label
{
  margin-top: 0px;
  font-size: 14;
  font-weight: bold;
  align: center center;
  color: #aaffaa;
}

#CosmeticsPanel
{
  position: 1200px 50px 0px;
  flow-children: down;
  width: 700px;
  border: 2px solid #555555;
}

#CosmeticsHeader
{
  background-color: #000000;
  width: 100%;
  height: 40px;
  align: center top;
}

#CosmeticsHeader Label
{
  align: center center;
  font-weight: bold;
  font-size: 25;
}

#CosmeticsBody
{
  background-color: #333333;
  width: 100%;
  min-height: 100px;
  padding:5px;
  
  flow-children: down;
}

#AttachmentsPanel
{
  position: 20px 50px 0px;
  flow-children: down;
  width: 500px;
  border: 2px solid #555555;
}

#AttachmentsHeader
{
  background-color: #000000;
  width: 100%;
  height: 40px;
  flow-children:none;
}

#AttachmentsHeader Label
{
  align: center center;
  font-weight: bold;
  font-size: 25;
}

#AttachmentsBody
{
  background-color: #333333;
  width: 100%;
  
  flow-children: down;
}

#AttachmentsFooter
{
  background-color: #000000;
  width: 100%;
  height: 20px;
}

#HideCosmetics Label
{
  align: center top;
  font-weight: bold;
  color: #ffaaff;
}

#Freeze Label
{
  align: center top;
  font-weight: bold;
  color: #aaaaff;
}

#Load Label
{
  align: center top;
  font-weight: bold;
  color: #ffaaaa;
}

#Hide Label
{
  align: center top;
  font-weight: bold;
  color: #111111;
}

#Save Label
{
  align: center top;
  font-weight: bold;
  color: #aaffaa;
}

#PlusMinusScaleDropDownMenu
{
  width:150px;
}


//--- Resources things

#GoldIcon
{   
    width: 36px; 
    height: 40px; 
    background-image: url("file://{images}/custom_game/resources/gold_icon.png"); 
    background-size: 100% 100%;
    margin-top: -3px;
    margin-right: 2px;
}

#LumberIcon 
{   
    width:36px; 
    height:28px; 
    background-image: url("file://{images}/custom_game/resources/lumber_icon.png"); 
    background-size: 100% 100%;
    margin-top: 2px;
    margin-right: 2px;
}

#PureEssenceIcon 
{   
    margin-top: 2px;
    width:36px; 
    height:32px; 
    background-image: url("file://{resources}/images/custom_game/resources/mango.png");
    background-size: 100% 100%;
}


//--- Custom

#GoldEntry
{
    width: 140px;
}

#LumberEntry
{
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

#Lumber
{
    width: 50px;
    padding-right: 0px;
}

#EssenceEntry
{
    width: 80px;
}

#Essence
{
  width: 30px;
  padding-right: 0px;
}

#ElementsRow
{
    margin-top: 5px;
}

.ElementEntry
{
    width: 34px;
    height: 34px;
    margin-left: 4px;
    margin-right: -1px;
}

.ElemImage
{
    width: 32px;
    height: 32px;
}

.ElemLevel
{
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 1px 3.0 #000000;
}

#light_level, #dark_level, #water_level, #fire_level, #nature_level, #earth_level, 
{
    color: white;
    margin-left: 9px;
    font-size: 23px;
}

#light
{
    background-image: url("file://{resources}/images/custom_game/resources/light.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#dark
{   
    background-image: url("file://{resources}/images/custom_game/resources/dark.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#water
{
    background-image: url("file://{resources}/images/custom_game/resources/water.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#fire
{
    background-image: url("file://{resources}/images/custom_game/resources/fire.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#nature
{
    background-image: url("file://{resources}/images/custom_game/resources/nature.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#earth
{
    background-image: url("file://{resources}/images/custom_game/resources/earth.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.SandboxTopbar
{
    margin-left: 280px;
    margin-top: 5px;
}

#SandboxEnableButton
{
    background-color: black;
    height: 30px;
    width: 200px;

    tooltip-position: bottom;
}

#SandboxEnableButton:active .SandboxButton
{
    position: 1px 2px 0px;
}

#EnableSandboxText
{
  color: #CCCCCC;
}

#SandboxTitle
{
    font-size: 20px;
    margin: 3px 3px 3px 3px;
    color: #EEEEEE;
}

#SandboxTitle, #ResourcesTitle, #WavesTitle
{
    text-transform: uppercase;
    text-align: center;
    horizontal-align: center;
}

#SandboxEnableButton
{
    margin-left: 50px;
}

.SandboxButton
{
    letter-spacing: 3px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
    vertical-align: center;
    horizontal-align: center;
}

.SandboxButton:hover
{
    opacity: 2;
    font-size: 19px;
}

#CloseButton
{
    width: 24px;
    height: 24px;
    wash-color: #888888;
    
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 4px;
    margin-left: 255px;
    
    transition-property: wash-color, pre-transform-scale2d, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

#CloseButton:hover
{
    wash-color: #bbbbbb;
}

#CloseButton:active
{
    wash-color: white;
    background-size: 20px 20px;
    //pre-transform-scale2d: 0.8;
}

#New
{
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
    horizontal-align: left;

    color: #FF0000;

    animation-name: seq_new;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes 'seq_new'
{
    0%
    {
        text-shadow: 0px 0px 12px 1.0 #BD1831;
    }

    100%
    {
        text-shadow: 0px 0px 12px 1.5 #FF0000;
    }
}

#WaveNumber
{
    width: 36px;
    height: 34px;
    padding-right: 0px;
    padding-top: 5px;
    padding-left: 6px;
    margin-top: 4px;
    font-size: 20px;
}

#SetWave
{
    width: 139px;
}

#SpawnWave
{
    width: 139px;
}

#Plus
{
    font-size: 14px;
    color: #CCCCCC;
    font-weight: bold;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    margin: 0 0 0 0;
    width: 18px;
}

#Minus
{
    font-size: 14px;
    color: #CCCCCC;
    font-weight: bold;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    margin: 0 0 0 0;
    width: 18px;
}