.Root
{
    width: 100%;
    height: 100%;
}

.Hidden
{
    visibility: collapse;
    opacity: 0;
}

.DisabledAbility
{
    saturation: 0.2;
}

.DisabledElement
{
    saturation: 0.5;
}

.ToggleButtonRoot
{
    width: 100%;
    height: 100%;
}
.ToggleButtonRoot:hover
{
    opacity: 2;
}

#ToggleButtonGlyph
{
    width: 90px;
    height: 90px;
    vertical-align: bottom;

    border-radius: 80px;
    margin-right: -15px;
    margin-bottom: -10px;
}

#ToggleIcon
{
    width: 65px;
    height: 65px;
    margin-left: 8px;
    margin-top: 8px;
}

#ToggleGlyph
{
    width: 120px;
    height: 120px;
    position: 25px 20px 0px;
    vertical-align: bottom;
}

#TowerTableButton
{
    width: 155px;
    height: 45px;
    margin-right: 62px;
    vertical-align: bottom;
}

.AspectRatio21x9 #TowerTableButton
{
    width: 210px;
    margin-right: 70px;
    margin-bottom: 10px;
}

#TowersLabel
{
    width: 100%;
    horizontal-align: center;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    margin-top: 4px;
    margin-left: -10px;
    color: #FFF;
    font-size: 30px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;
}

#Container
{
    width: 60%;
    height: 70%;
    margin-top: 62px;
    horizontal-align: center;
    vertical-align: top;
    z-index: 15;
    flow-children: down;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #00000040 0px 0px 12px 0px;
}

#TitleContainer
{
    width: 100%;
    height: 10%;
}

#ElementsContainer
{
    width: 100%;
    height: 90%;
    flow-children: down;
}

#Title
{
    width: 100%;
    horizontal-align: center;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    font-size: 35px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;
}

#TitleElements
{
    width: 14%;
    horizontal-align: left;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;
}

#TitleDuals
{
    width: 17%;
    margin-left: 25%;
    horizontal-align: left;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;
}

#TitleTriples
{
    width: 55%;
    horizontal-align: right;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;
}

#WaterContainer
{
    width: 100%;
    height: 16.7%;

    flow-children: right;
    background-color: #01A2FF09;
    box-shadow: #00000040 0px 0px 12px 0px;
}

#FireContainer
{
    width: 100%;
    height: 16.7%;

    flow-children: right;
    background-color: #C4000009;
    box-shadow: #00000040 0px 0px 12px 0px;
}

#NatureContainer
{
    width: 100%;
    height: 16.7%;

    flow-children: right;
    background-color: #00C40009;
    box-shadow: #00000040 0px 0px 12px 0px;
}

#EarthContainer
{
    width: 100%;
    height: 16.7%;

    flow-children: right;
    background-color: #D4880F09;
    box-shadow: #00000040 0px 0px 12px 0px;
}

#LightContainer
{
    width: 100%;
    height: 16.7%;

    flow-children: right;
    background-color: #E5DE2309;
    box-shadow: #00000040 0px 0px 12px 0px;
}

#DarkContainer
{
    width: 100%;
    height: 16.7%;

    flow-children: right;
    background-color: #8733C809;
    box-shadow: #00000040 0px 0px 12px 0px;
}

.Element
{
    width: 18%;
    vertical-align: center;
}

.DualsContainer
{
    height: 100%;
    width: 30%;
    flow-children: right;
}

.TriplesContainer
{
    margin-left: 5%;
    height: 100%;
    width: 40%;
    flow-children: right;
}

.ElementImage
{
    width: 80px;
    height: 80px;
    margin-left: 40px;
    border-radius: 80px;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;

    tooltip-position: left;
}

.AbilityImage
{
    width: 70px;
    height: 70px;
    border: 2px solid #000000;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.AbilityImageDual
{
    width: 70px;
    height: 70px;
    border: 2px solid #000000;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;

    tooltip-position: bottom;
}

.AbilityContainer
{
    width: 30%;
    vertical-align: center;
    margin-top: 10px;
}

.AbilityContainerTriple
{
    width: 27%;
    vertical-align: center;
    margin-top: 10px;
}

.Glow_water
{
    box-shadow: 0px 0px 35px -5px #01A2FF;
    opacity: 1.5;
}

.Glow_fire
{
    box-shadow: 0px 0px 35px -5px #C40000;
    opacity: 1.5;
}

.Glow_nature
{
    box-shadow: 0px 0px 35px -5px #00C400;
    opacity: 1.5;
}

.Glow_earth
{
    box-shadow: 0px 0px 35px -5px #D4880F;
    opacity: 1.5;
}

.Glow_light
{
    box-shadow: 0px 0px 35px -5px #E5DE23;
    opacity: 1.5;
}

.Glow_dark
{
    box-shadow: 0px 0px 35px -5px #8733C8;
    opacity: 1.5;
}

.Glow_white
{
    box-shadow: 0px 0px 35px -5px white;
}

#FilterButtonContainer
{
    flow-children: right;
    horizontal-align: left;
    vertical-align: bottom;
    margin-left: 510px;
    margin-bottom: 19%;
}

.AspectRatio16x10 #FilterButtonContainer
{
    flow-children: right;
    horizontal-align: left;
    vertical-align: bottom;
    margin-left: 355px;
    margin-bottom: 19%;
}

.AspectRatio4x3 #FilterButtonContainer, .AspectRatio5x4 #FilterButtonContainer
{
    flow-children: right;
    horizontal-align: left;
    vertical-align: bottom;
    margin-left: 200px;
    margin-bottom: 19%;
}

#Spacer
{
    width: 100px;
}

.FilterButton
{
    text-align: center;
    font-weight: bold;
    color: #DDD;
    font-size: 25px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;

    width: 100px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #00000040 0px 0px 12px 0px;
    margin-right: 3px;
}

.FilterButton:hover
{
    color: #FFF;
    background-color: #000000FF;
}

.Flipped
{
    horizontal-align: left;
}

.AlignRight
{
    horizontal-align: right;
}

.TowerName
{
    width: 70px;
    horizontal-align: left;

    text-align: center;
    font-weight: bold;
    color: #DDD;
    font-size: 15px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;

    margin-top: -17px;
}

.TowerNameLong
{
    width: 120px;
    horizontal-align: left;

    text-align: center;
    font-weight: bold;
    color: #DDD;
    font-size: 15px;
    text-shadow: 0px 0px 5px 3.0 #000;
    font-family: Radiance;
    text-transform: uppercase;

    margin-top: -17px;
    margin-left: -25px;
}

.AbilityLevel
{
    width: 70px;
    text-align: center;
    letter-spacing: 3px;
    color: #DDD;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0px 0px 2px 4.0 #000;
    font-family: Radiance;

    margin-top: 70px;
    margin-bottom: -10px;
    vertical-align: bottom;
}

#CloseButton
{
    horizontal-align: right;
    width: 24px;
    height: 24px;
    wash-color: #888888;
    
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 4px;
    
    transition-property: wash-color, pre-transform-scale2d, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

#CloseButton:hover
{
    wash-color: #bbbbbb;
}

#CloseButton:active
{
    wash-color: white;
    background-size: 20px 20px;
    //pre-transform-scale2d: 0.8;
}