.Root
{
    width: 100%;
    height: 100%;
}

#TowerTooltip
{
    width: 6%;
    height: 15%;
    //background-color: black;
    vertical-align: bottom;
    horizontal-align: center;
    margin-right: 28%;
    tooltip-position: top;
}

.AspectRatio4x3 #TowerTooltip, .AspectRatio5x4 #TowerTooltip
{
    margin-right: 30%;
}

.AspectRatio21x9 #TowerTooltip
{
    margin-right: 23%;
}

.Hidden
{
    visibility: collapse;
    opacity: 0;
}
