.BaseHud
{
    width: 100%;
    height: 100%;
}

#Voting
{
    horizontal-align: center;
    position: 0px 13% 0px;
    margin-top: -3%;
    width: 590px;
    padding: 20px 20px 0px 20px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #00000040 0px 0px 12px 0px;
    flow-children: down;
}

#VotingLive
{
    horizontal-align: center;
    position: 585px 13% 0px;
    margin-top: -3%;
    width: 185px;
    height: 614px;
    padding: 10px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #00000040 0px 0px 12px 0px;
    flow-children: down;
    opacity: 1;
    transform: translatex( -200px );
    transition-property: transform, opacity;
    transition-duration: 0.3s;
}

#VotingLive.hidden
{
    transform: translatey( 0px );
    opacity: 0;
}

#VotingLive.Coop
{
    height: 415px;
}

.Hidden
{
    opacity: 0;
    visibility: collapse;
}

#NotVoted
{
    width: 100%;
    height: 80px;
    flow-children: down;
}

#NotVotedLabel
{
    width: 100%;
    height: 20px;
}

#NotVotedPlayers
{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
    flow-children: right-wrap;
}

#Voted
{
    width: 100%;
    height: 82%;
    flow-children: down;
}

#HasVotedLabel
{
    width: 100%;
    height: 24px;
}

#HasVotedPlayers
{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
    flow-children: down;
    overflow: scroll;
}

.VotingAvatar
{
    width: 32px;
    height: 32px;
    background-color: #000;
}

.NotVoted
{
    margin: 4px;
}

.VotedPlayer
{
    width: 100%;
    padding: 4px;
    background-color: #000000DD;
    margin-bottom: 4px;
}

.Pass
{
    box-shadow: inset #FBB23FAA 1px 1px 1px 2px; // inner
}

.VotedPlayerVotes
{
    margin-left: 42px;
    width: 70%;
    flow-children: down;
    margin-top: -4px;
}

.PlayerVote
{
    color: white;
    font-size: 16px;
    height: 16px;
}

#VoteResults
{
    horizontal-align: center;
    vertical-align: center;
    margin-top: -10%;
    width: 420px;
    padding: 10px 30px 0px 30px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #00000040 0px 0px 12px 0px;
    flow-children: down;
}

#Title, #ResultsTitle
{
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    width: 100%;
    text-align: center;
}

#Title
{
    margin-top: -10px;
}

#ResultsTitle
{
    margin-bottom: 10px;
}

#Info
{
    color: #FFF;
    font-size: 16px;
    text-shadow: 0px 0px 3px 3.0 #000;
}

#Bottom
{
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

#Vote
{
    horizontal-align: right;
    width: 160px;
    height: 30px;
    margin-right: 40px;
    margin-top: -8px;
}

#ButtonLabel
{
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 3px 2.0 #000;
    text-transform: uppercase;
}

#ButtonLabel:hover
{
    color: #FFF;
}

#Countdown
{
    horizontal-align: right;
    text-shadow: 0px 0px 3px 2.0 #000;
}

#ResultsButton
{
    horizontal-align: center;
    max-width: 60px;
    height: 30px;
    margin-bottom: 10px;
}

.setting
{
    width: 100%;
    height: 90px;
}

.label
{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    width: 40%;
    height: 30px;
}

.results
{
    width: 100%;
}

.result
{
    width: 100%;
    height: 36px;
}

.resultsLabel
{
    color: #FFF;
    font-size: 22px;
    //font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    horizontal-align: center;
}

.resultsValue
{
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 3px 3.0 #000;
    horizontal-align: center;
}

.resultMultipliers
{
    font-size: 22px;
}

DropDown
{
    width: 200px;
    font-size: 18px;
    color: #FFF;
}
DropDownMenu
{
    width: 200px;
}


//-----------------------

#DifficultyPanel
{
    width: 100%;
    height: 160px;
    flow-children: right;
}

.DifficultyImage
{
    width: 110px;
    height: 110px;
    margin-left: 10px;
}

.DifficultyLabel
{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    text-align: center;
    horizontal-align: center;
    vertical-align: bottom;
    width: 150px;
    height: 30px;
}

.DifficultyBox
{
    width: 128px;
    height: 140px;
    flow-children: down;
}

#Checkboxes
{
    flow-children: down;
    width: 100%;
    margin-left: 30px;
}

.CheckboxPanel
{
    flow-children: right;
    width: 100%;
    height: 55px;
}

.CheckboxSub
{
    flow-children: down;
}

ToggleButton Label, DOTASettingsCheckbox Label
{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    text-align: center;
}

ToggleButton .TickBox, DOTASettingsCheckbox .TickBox
{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.desc
{
    horizontal-align: right;
    margin-top: 10px;
    width: 65%;
    font-size: 20px;
    color: #FFF;
    text-shadow: 0px 0px 3px 3.0 #000;
}

.newlabel
{
    horizontal-align: left;
    margin-top: 12px;
    margin-left: -20px;
    width: 38px;
    font-size: 18px;
    color: #C00;
    text-shadow: 0px 0px 3px 3.0 #000;
}

.multdesc
{
    font-size: 15px;
    color: #FFF;
    text-shadow: 0px 0px 3px 3.0 #000;
    margin-left: 55px;
    margin-top: -5px;
}

#Multipliers
{
    width: 100%;
    horizontal-align: right;
    flow-children: down;
    margin-bottom: 10px;
    font-weight: bold;
}

#HealthBounty
{
    flow-children: right;
    horizontal-align: center;
}

#ScoresMult
{
    horizontal-align: center;
}

#HealthMult
{
    font-size: 30px;
    margin-left: 20px;
    color: #65D413;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8;
    //text-shadow: 0px 0px 3px 1.0 #65D413;
}

#BountyMult
{
    font-size: 30px;
    margin-left: 50px;
    color: #F3C909;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8;
}

#ScoresMult
{
    font-size: 30px;
    margin-left: 20px;
    color: #ff0000;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8; 
}

#HB
{
    flow-children: right;
}

.resultHealthBounty
{
    height: 36px;
}

#HealthResult
{
    color: #65D413;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8;
}

#BountyResult
{
    color: #F3C909;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8;
    margin-left: 25px;
}

#ScoresResult
{
    color: #ff0000;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8; 
}

.resultHealthBounty
{
    horizontal-align: center;
}

.Hover
{
    brightness: 1.5;
    opacity: 1.5;
}

ToggleButton:enabled:hover Label, DOTASettingsCheckbox:enabled:hover Label
{
    color: #FFF;
    opacity: 1.5;
}


#CurrentModePanel
{
    vertical-align: bottom;
    margin-bottom: 21%;
    flow-children: right;
    height: 160px;
    background-color: #000000AA;
    border-radius: 15px 0px 0px 0px;
    //border: 2px solid #484A48;
    //box-shadow: #000 -4px -4px 3px 8px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

#DiffImage
{
    transition-property: brightness;
    transition-duration: 0.3s;
}

.ViewDiffImage
{
    height: 110px;
    width: 110px;
    vertical-align: center;
    margin-right: -20px;
    margin-left: -10px;
    margin-bottom: 30px;
}

.ViewDiffLabels
{
    flow-children: down;
    width: 130px;
    font-size: 8px;
    vertical-align: center;
    margin-bottom: 30px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
}

.resultsReview
{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000;
    horizontal-align: center;
    margin-left: 10px;
}

#CurrentModePanel.resize
{
    background-color: #00000000;
}

.hide
{
    opacity: 0;
}

.Slide
{
    transform: translatex( 250px );
    transition-property: transform;
    transition-duration: 0.3s;
}

.SlideOut
{
    transform: translatex( -250px );
    transition-property: transform;
    transition-duration: 0.3s;
}

#Option_Random, #Option_Express
{
    margin-left: 7px;
    margin-bottom: 5px;
    height: 95px;
}

#Option_Random.Coop
{
    height: 60px;
}

#Option_Endless
{
    //margin-top: 5px;
}

.RadioBox
{
    min-width: 25px;
    min-height: 25px;
}

RadioButton Label
{
    margin-left: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
}

#RadioButtons, #RadioButtons_Length
{
    flow-children: down;
}

#allpick, #samerandom, #classic, #express
{
    margin-bottom: 5px;
}

#ElementsDesc, #LengthDesc
{
    horizontal-align: right;
    vertical-align: center;
    margin-top: -3px;
    width: 66%;
    font-size: 20px;
    color: #FFF;
    text-shadow: 0px 0px 3px 3.0 #000;
}

.Flipped
{
    horizontal-align: left;
}

.AlignRight
{
    horizontal-align: right;
}