.BaseHud
{
    width: 100%;
    height: 100%;
}

#Voting
{
    horizontal-align: center;
    position: 0px 15% 0px;
    width: 560px;
    height: 640px;
    padding: 20px 20px 0px 20px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #000 -4px -4px 3px 8px;
    flow-children: down;
}

#VotingLive
{
    horizontal-align: center;
    position: 580px 15% 0px;
    width: 185px;
    height: 640px;
    padding: 10px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #000 -4px -4px 3px 8px;
    flow-children: down;
    opacity: 1;
    transform: translatex( -200px );
    transition-property: transform, opacity;
    transition-duration: 0.3s;
}

#VotingLive.hidden
{
    transform: translatey( 0px );
    opacity: 0;
}

#NotVoted
{
    width: 100%;
    height: 18%;
    flow-children: down;
}

#NotVotedLabel
{
    width: 100%;
    height: 20px;
}

#NotVotedPlayers
{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
    flow-children: right-wrap;
}

#Voted
{
    width: 100%;
    height: 82%;
    flow-children: down;
}

#HasVotedLabel
{
    width: 100%;
    height: 24px;
}

#HasVotedPlayers
{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
    flow-children: down;
    overflow: scroll;
}

.VotingAvatar
{
    width: 32px;
    height: 32px;
    background-color: #000;
}

.NotVoted
{
    margin: 4px;
}

.VotedPlayer
{
    width: 100%;
    padding: 4px;
    background-color: #000000DD;
    margin-bottom: 4px;
}

.VotedPlayerVotes
{
    margin-left: 42px;
    width: 70%;
    flow-children: down;
    margin-top: -4px;
}

.PlayerVote
{
    color: white;
    font-size: 16px;
    height: 16px;
}

#VoteResults
{
    horizontal-align: center;
    position: 0px 28% 0px;
    width: 420px;
    height: 330px;
    padding: 10px 30px 0px 30px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #000 -4px -4px 3px 8px;
    flow-children: down;
}

#Title, #ResultsTitle
{
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    width: 100%;
    text-align: center;
}

#Title
{
    margin-top: -10px;
}

#ResultsTitle
{
    margin-bottom: 10px;
}

#Info
{
    color: #FFF;
    font-size: 16px;
    text-shadow: 0px 0px 3px 3.0 #000;
}

#Bottom
{
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

#Vote
{
    horizontal-align: right;
    width: 160px;
    height: 30px;
    margin-right: 40px;
    margin-top: -8px;
}

#ButtonLabel
{
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 3px 2.0 #000;
    text-transform: uppercase;
}

#ButtonLabel:hover
{
    color: #FFF;
}

#Countdown
{
    horizontal-align: right;
    text-shadow: 0px 0px 3px 2.0 #000;
}

#ResultsButton
{
    horizontal-align: center;
    max-width: 60px;
    height: 30px;
}

.setting
{
    width: 100%;
    height: 90px;
}

.label
{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    width: 40%;
    height: 30px;
}

.results
{
    width: 100%;
}

.result
{
    width: 100%;
    height: 36px;
}

.resultsLabel
{
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
}

.resultsValue
{
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 3px 3.0 #000;
    horizontal-align: center;
}

DropDown
{
    width: 200px;
    font-size: 18px;
    color: #FFF;
}
DropDownMenu
{
    width: 200px;
}


//-----------------------

#DifficultyPanel
{
    width: 100%;
    height: 160px;
    flow-children: right;
}

.DifficultyImage
{
    width: 130px;
    height: 130px;
}

.DifficultyLabel
{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    text-align: center;
    horizontal-align: center;
    vertical-align: bottom;
    margin-top: 2px;
    width: 150px;
    height: 30px;
}

.DifficultyBox
{
    width: 128px;
    height: 160px;
    flow-children: down;
}

#Checkboxes
{
    flow-children: down;
    margin-top: 20px;
    width: 100%;
    height: 50%;
    margin-left: 30px;
}

.CheckboxPanel
{
    flow-children: right;
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
}

.CheckboxSub
{
    flow-children: down;
}

ToggleButton Label, DOTASettingsCheckbox Label
{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    text-align: center;
}

ToggleButton .TickBox, DOTASettingsCheckbox .TickBox
{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.desc
{
    horizontal-align: right;
    vertical-align: center;
    width: 65%;
    height: 100px;
    font-size: 20px;
    color: #FFF;
    text-shadow: 0px 0px 3px 3.0 #000;
}

.multdesc
{
    font-size: 15px;
    color: #FFF;
    text-shadow: 0px 0px 3px 3.0 #000;
    margin-left: 55px;
}

#Multipliers
{
    width: 100%;
    horizontal-align: right;
    flow-children: down;
    margin-top: -35px;
    margin-bottom: 10px;
    font-weight: bold;
}

#HealthBounty
{
    flow-children: right;
    horizontal-align: center;
}

#ScoresMult
{
    horizontal-align: center;
}

#HealthMult
{
    font-size: 30px;
    margin-left: 20px;
    color: #65D413;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8;
    //text-shadow: 0px 0px 3px 1.0 #65D413;
}

#BountyMult
{
    font-size: 30px;
    margin-left: 50px;
    color: #F3C909;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8;
}

#ScoresMult
{
    font-size: 30px;
    margin-left: 20px;
    color: #ff0000;
    text-shadow: 0px 0px 3px 3.0 #000;
    saturation: 0.8; 
}

.Hover
{
    brightness: 1.5;
}