.BaseHud
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

#WaveInfoBase
{
    width: 536px;
    horizontal-align: right;
}

#WaveInfo
{
    horizontal-align: right;
    margin-top: 62px; //62
    margin-right: 15px;
    z-index: 15;
    flow-children: down;
    background-color: #000000DD;
    border: 2px solid #484A48;
    width: 352px;
    height: 84px;
    box-shadow: #000 -4px -4px 3px 8px;
}

.wave
{
    width: 100%;
    height: 35px;
    margin-left: 12px;
    margin-top: 8px;
}

#CurrentWave
{

}

#NextWave
{
    margin-top: 2px;
}

#CurrentLabel, #NextLabel, #Countdown, #Clock
{
    font-weight: bold;
    color: #FFF;
    font-size: 23px;
    text-shadow: 0px 0px 5px 2.0 #000;
}

#Clock
{
    margin-right: 10px;
    horizontal-align: right;
}

#Clock.Fast { color: #00CC00; }
#Clock.Close { color: #FFDF00; }
#Clock.Slow { color: #FF0000; }

#CurrentWaveLabel, #NextWaveLabel
{
    color: #FFF;
    font-size: 22px;
    text-shadow: 0px 0px 5px 2.0 #000;
    position: 34% 0px 0px;
}

DOTAAbilityImage
{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid black;
}

.ability1
{
    position: 200px -2px 0px;
}

.ability2
{
    position: 236px -2px 0px;
}

.ability3
{
    position: 272px -2px 0px;
}

#Countdown
{
    position: 89% 0px 0px;
}

#StartWave
{
    margin-top: 62px; //62
    margin-right: 374px; //390
    horizontal-align: right;
    width: 84px;
    height: 84px;
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
    box-shadow: #000 -4px -4px 4px 8px;
}

#StartWave:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d695ff ) );
}

#StartNextWaveButton
{
    width: 100%;
    height: 100%;
    padding: 4px;
}

#StartNextWaveButton:active
{
    background-color: gradient( linear, 0% 0%, 0% 75%, from( #5Aa15E ), to( #87d695ff ) );
    position: -1px -1px 0px;
}

#StartWaveLabel
{
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-size: 26px;
    text-shadow: 0px 0px 5px 3.0 #000;
    padding-top: 5px;
}