*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.bin
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
tools_asset_info.bin
tools_asset_info.bin
*.bin
tools_asset_info.bin